<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Utils</title>
</head>

<body>
    <!-- hello kaisw eho 
    {{ name }} lives in {{ place }} -->
    <h1>Welcome to the text analyzer. Enter your text below !!</h1>
    <form action='/analyze' method="get">
        <textarea name="text" id="" cols="30" rows="10" style="width: 731px; height: 146px;"></textarea>
        <input type="checkbox" name="removepunc" id=""> Remove punctuation
        <br>
        <input type="checkbox" name="fullcaps" id=""> UPPERCASE
        <br>
        <input type="checkbox" name="newlineremover" id=""> New Line Remover
        <br>
        <input type="checkbox" name="extraspaceremover" id=""> Extra Space Remover
        <br>
        <br>
        <button type="submit">Analyze Text</button>
    </form>

</body>

</html>